<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="UTF-8" />
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <h:outputStylesheet library="css" name="adminBootstrap.css"/>
        <h:outputStylesheet library="css" name="individual.css" />
        <h:outputStylesheet library="css" name="bootstrapCustomized.css" />
        <ui:insert name="head" >
            <title>Ticket Care</title>  
        </ui:insert>
    </h:head>

    <h:body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><h:link outcome="/adminIndex" >首頁</h:link></li>
                        <li><h:link outcome="/adminSuppliers">捐贈管理</h:link></li>
                        <li><h:link outcome="/adminIndividual">個案管理</h:link></li>
                        <li><h:link outcome="/adminVolunteer">志工管理</h:link></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">票務管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><h:link outcome="/adminCategory">新增類別</h:link></li>
                                <li><h:link outcome="/adminTicketData">票券資料</h:link></li>
                            </ul></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">媒合管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><h:link outcome="effective_ticket_list">票券媒合</h:link></li>
                                <li><h:link outcome="ticketingRecords">派票紀錄</h:link></li>
                                <li><h:link outcome="/ticketTarck">票券追蹤</h:link></li>
                                <li><h:link outcome="/ticketClosing">結案區</h:link></li>
                            </ul></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><h:link outcome="/index"> Logout</h:link></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div id="content" class="center_content">
                <p:messages autoUpdate="true" />
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>        
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </h:body>
</html>