<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>

    </h:head>
    <h:body >
        <ui:composition>
            <!-- <div id="gotop">top</div>-->
            <!--<div id="goContents">◢</div>-->
            <div class="container" >
                <br/>
                <div id="logo_row" class="row">
                    <h:graphicImage class="img-responsive" 
                                    style="display:block; margin:auto; height: 50px;"
                                    library="images" name="ticketLogo.png"  />
                </div>
                <h:link class="nav navbar-nav navbar-right" outcome="/Tickets">更多票券>></h:link><br/>
                <div id="ticket_slider_row"  style="text-align: center">
                    <div id="carousel_ticket" class="carousel slide" >
                        <div class="carousel-inner">
                            <!-- 票券資料 Carousel items -->
                            <!--產生兩頁的 slide, 每個 slide 4 張圖片-->
                            <c:forEach begin="0" end="5" step="4" var="item_idx">
                                <div class="#{item_idx == 0 ? 'item active': 'item'}">
                                    <h:form>
                                        <ui:repeat 
                                            value="#{postBean.findPostsOrderByDate(item_idx, 4)}" 
                                            var="post" >
                                            <div class="col-sm-3">
                                                <div class="info-box">
                                                    <div class="pic-frame">
                                                        <h:commandLink action="#{postBean.viewTicket(post.ticket.id)}">
                                                            <p:graphicImage style="width: 200px; height: 140px" 
                                                                            styleClass="img-responsive img-rounded center-block"
                                                                            value="#{ticketDataBean.getTicketPhoto()}">
                                                                <f:param name="ticketID" value="#{post.ticket.id}" />
                                                            </p:graphicImage>
                                                        </h:commandLink>
                                                    </div>
                                                    <div class="text-frame">
                                                        <h:outputLabel value="#{post.ticket.name}" /><br/>
                                                        <h:outputLabel>
                                                            <h:outputFormat value="{0, date, YYYY/MM/dd} 到期">
                                                                <f:param value="#{post.ticket.endDate}"/>
                                                            </h:outputFormat>
                                                        </h:outputLabel>    
                                                        <br/>
                                                        <h:outputLabel value="剩餘數量: #{post.ticket.qty}" />
                                                        <br />
                                                        <h:commandButton
                                                            styleClass="btn btn-warning" 
                                                            value="» Read More"
                                                            action="#{postBean.viewTicket(post.ticket.id)}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </ui:repeat>
                                    </h:form>
                                </div><!--/slide1-->
                            </c:forEach>
                        </div><!--/carousel-inner-->
                        <nav>
                            <ul class="control-box pager">
                                <li><a data-slide="prev" href="#carousel_ticket" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                <li><a data-slide="next" href="#carousel_ticket" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div><!-- /#carousel_ticket -->
                </div><!-- /ticket_slider_row -->
                <h:graphicImage class="img-responsive" 
                                style="display:block; margin:auto; height: 50px;"
                                library="images" name="donorLogo.png"  />
                <br/>
                <div id="ticket_slider_row"  style="text-align: center">
                    <div id="carousel_donor" class="carousel slide" >
                        <div class="carousel-inner">
                            <!-- 票券資料 Carousel items -->
                            <!--產生兩頁的 slide, 每個 slide 4 張圖片-->
                            <c:forEach begin="0" end="5" step="4" var="item_idx">
                                <div class="#{item_idx == 0 ? 'item active': 'item'}">
                                    <h:form>
                                        <ui:repeat 
                                            value="#{donorDataBean.findDonorsOrderByDate(item_idx, 4)}" 
                                            var="donor" >
                                            <div class="col-sm-3">
                                                <div class="info-box">
                                                    <div class="pic-frame">
                                                        <p:graphicImage style="width: 200px; height: 140px" styleClass="img-responsive img-rounded center-block"
                                                                        value="#{donorDataBean.getDonorPhoto()}">
                                                            <f:param name="donorID" value="#{donor.id}" />
                                                        </p:graphicImage>
                                                        <h:commandLink styleClass="overlay" action="#{donorDataBean.viewDonor(donor.id)}" />
                                                    </div>
                                                    <div class="text-frame">
                                                        <h:outputLabel value="#{donor.donorName}" />
                                                        <br/>
                                                        <h:outputLabel value="#{donor.connectname}" />
                                                        <br/>
                                                        <h:commandButton
                                                            styleClass="btn btn-warning" 
                                                            value="» Read More"
                                                            action="#{donorDataBean.viewDonor(donor)}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </ui:repeat>
                                    </h:form>
                                </div><!--/slide1-->
                            </c:forEach>
                        </div><!--/carousel-inner-->
                        <nav>
                            <ul class="control-box pager">
                                <li><a data-slide="prev" href="#carousel_donor" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                <li><a data-slide="next" href="#carousel_donor" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div><!-- /#carousel_donor -->
                </div><!-- /donor_slider_row -->        
            </div><!-- /.container -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!--<script src="js/lightslider.js"></script>-->
            <h:outputScript library="js" name="image_slides.js" />
            <h:outputScript library="js" name="gotop.js" />
            <h:outputScript library="js" name="goContents.js" />
        </ui:composition>
    </h:body>
</html>
