<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="UTF-8" />
        <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <h:outputStylesheet library="css" name="adminBootstrap.css"/>
        <title>Ticket Care</title>  
    </h:head>
    <h:body>
        <ui:composition>
            <div style="margin: 0px auto; font-family: Microsoft JhengHei;">
                <h:form>
                    <h:graphicImage class="img-responsive" style="display: block; margin: auto; width: 100%;" library="images" name="logo.png"/>

                    <ul class="nav nav-stacked nav-pills">
                        <li><h:commandLink  class="btn btn-link" value="起源與理念" action="ticketcareOrigin" /></li>
                        <li><h:commandLink  class="btn btn-link" value="我們能做的事" action="ticketcareThing" /></li>
                        <li><h:commandLink class="btn btn-link" value="大家能做的事" action="ticketcareEveryoneThing"/></li>
                        <li><h:commandLink class="btn btn-link" value="聯絡我們" action="ticketcareContent"/></li>
                    </ul>
                </h:form>
            </div>
        </ui:composition>
    </h:body>
</html>