<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <h:outputStylesheet library="css" name="Template.css" />
        <h:outputStylesheet library="css" name="image_slider.css" />
        <h:outputStylesheet library="css" name="image_magnify.css"/>
        <h:outputStylesheet library="css" name="bootstrapCustomized.css"/>
        <title>使用者介面</title>  
    </h:head>
    <h:body class="body">
        <ui:debug/>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!--<a class="navbar-brand" href="#">Ticket Care</a>-->
                    <h:link class="navbar-brand" outcome="/index">Ticket Care</h:link>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><h:link outcome="/index">首頁</h:link></li>
                        <li><h:link outcome="/Tickets">票務連結</h:link></li>
                        <li><h:link outcome="/ticketcareOrigin">關於我們</h:link></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <h:link outcome="/login.xhtml">
                                Login</h:link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div id="banner" >
                <ui:insert name="banner">
                    <h:graphicImage class="img-responsive" style="margin: auto;background-size:cover;" library="images" name="index.jpg"/>
                </ui:insert>
            </div>
        </div>
        <div class="container">    
            <div id="content" >
                <ui:insert name="content" />
            </div>
        </div>
        <ui:insert name="footer">
            <nav class="navbar-fixed-bottom">
            <div id="footer" class="footer" style="height: 100%; min-height:100%;">
                <p style="font-family:monospace;"> Copyright 2017 Chaoyang University of Technology.All right reserved.</p>
                <p style="color:white; font-family:fantasy,Microsoft JhengHei;">TicketCare Team 建置</p>
            </div>
            </nav>    
        </ui:insert>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </h:body>
</html>