<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <h:outputStylesheet library="css" name="Template.css" />
        <title>使用者介面</title>  
    </h:head>
    <h:body>
        <ui:debug/>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!--<a class="navbar-brand" href="#">Ticket Care</a>-->
                    <h:link class="navbar-brand" outcome="/index">Ticket Care</h:link>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><h:link outcome="index">首頁</h:link></li>
                        <li><h:link outcome="/Tickets">票務連結</h:link></li>
                        <li><h:link outcome="ticketcareOrigin">關於我們</h:link></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <h:link outcome="/login.xhtml">
                                Login</h:link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div id="banner" >
                <ui:insert name="banner">
                    <h:graphicImage class="img-responsive" style="margin:auto; background-size:cover; " library="images" name="sponsor.png"  />
                </ui:insert>
            </div>
        </div>

        <div class="row">
            <div id="sideLeft" class="col-md-3 col-xs-12">
                <ui:insert name="sideLeft">
                    <ui:include src="sideLeft.xhtml" />
                </ui:insert>
            </div>
            <div id="content" class="col-md-9 col-xs-12">
                <ui:insert name="content">

                </ui:insert>
            </div>

        </div>
        <div id="footer img" >

            <ui:insert name="footer">
                <div id="footer" class="footer">
                    <p style="font-family:monospace;">Copyright 2017 Chaoyang University of Technology.All right reserved.</p>
                    <p style="color:white; font-family:fantasy,Microsoft JhengHei;">TicketCare Team 建置</p>
                </div>
            </ui:insert>
        </div>

        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </h:body>
</html>