<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:form id="ticketListForm">
                    <legend>票券資料</legend>
                    <h:dataTable id="listTable" styleClass="table table-striped table-hover" value="#{ticketDataBean.allTickerData}" var="ticket" style="font-size:16px; font-family: Microsoft JhengHei;">
                        <p:column >
                            <f:facet name="header"> 類別 </f:facet>          
                            <h:outputText value="#{ticket.category.name}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header" > 名稱 </f:facet>          
                            <h:outputText value="#{ticket.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 使用期限 </f:facet>          
                            <h:outputText value="#{ticket.startDate}">
                                <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                            </h:outputText> ~
                            <h:outputText value="#{ticket.endDate}">
                                <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 數量 </f:facet>
                            <h:outputText value="#{ticket.qty}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 狀態 </f:facet>
                            <h:outputText value="#{ticket.status}">
                                <f:converter converterId="ticketStatusConverter" />
                            </h:outputText>
                            <h:outputText value=" - #{postBean.findByTicket(ticket).id}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 檢視 </f:facet> 
                            <p:commandButton action="#{ticketDataBean.viewTicketDataAction(ticket)}" 
                                             title="檢視" icon="fa fa-file-text" >
                            </p:commandButton>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 修改 </f:facet> 
                            <p:commandButton  action="#{ticketDataBean.prepareEdit(ticket)}" title="修改" icon="fa fa-pencil" />
                        </p:column>   
                        <p:column>
                            <f:facet name="header" > 刪除 </f:facet> 
                            <p:commandButton  action="#{ticketDataBean.removeTicketDataAction(ticket)}" title="刪除" icon="fa fa-trash" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 上架 </f:facet> 
                            <p:commandButton  action="#{ticketDataBean.preparePosting(ticket)}" update=":ticketListForm:addNewPostDialogID"
                                              title="上架" icon="fa fa-angle-double-up" />
                        </p:column>    
                        <p:column>
                            <f:facet name="header" > 下架 </f:facet> 
                            <p:commandButton  action="#{ticketDataBean.prepareOffPosting(ticket)}" update=":ticketListForm:delPostDialogID"
                                              title="下架" icon="fa fa-angle-double-down" />
                        </p:column>    
                    </h:dataTable><br/><br/>

                    <p:dialog id="deleteDialog" header="刪除票券資料" widgetVar="deleteDialogVar" modal="true" 
                             dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                             minHeight="40">
                        <h:form>
                            <h:outputText value="確認是否刪除 #{ticketDataBean.currentTicketData.name} 票券資料 ? " /><br/><br/>
                            <h:commandButton styleClass="add-ind-button"  value="取消" onclick="PF('deleteDialogVar').hide();" />
                            <h:commandButton styleClass="add-ind-button"  value="確定刪除" action="#{ticketDataBean.removeTicketData}" />
                        </h:form>
                    </p:dialog>

                    <p:dialog id="addNewPostDialogID" 
                              header="上架票券" widgetVar="addNewPostDialogVar"  modal="true" 
                             dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                             minHeight="40">

                        <h:outputText value="確認是否上架 #{ticketDataBean.currentTicketData.name} 票券？" /><br/>
                        <h:commandButton styleClass="add-ind-button" value="取消" 
                                         onclick="PF('addNewPostDialogVar').hide();"  />
                        <h:commandButton styleClass="add-ind-button" 
                                         onclick="PF('addNewPostDialogVar').hide();" 
                                         value="確定" action="#{postBean.addPostDB(ticketDataBean.currentTicketData)}">
                            <f:ajax execute="@form" render=":ticketListForm:listTable"  />
                        </h:commandButton>
                    </p:dialog>            
                    <p:dialog id="delPostDialogID" 
                              header="下架票券" widgetVar="delPostDialogVar"  modal="true" 
                             dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                             minHeight="40">

                        <h:outputText value="確認是否下架 #{ticketDataBean.currentTicketData.name} 票券？" /><br/>
                        <h:commandButton styleClass="add-ind-button" value="取消" 
                                         onclick="PF('delPostDialogVar').hide();"  />
                        <h:commandButton styleClass="add-ind-button" 
                                         onclick="PF('delPostDialogVar').hide();" 
                                         value="確定" action="#{postBean.delPostDB(ticketDataBean.currentTicketData)}">
                            <f:ajax execute="@form" render=":ticketListForm:listTable"  />
                        </h:commandButton>
                    </p:dialog>
                    <div style="float:right;" >
                        <p:row>
                            <h:commandButton styleClass="btn btn-success" value="新增" action="#{ticketDataBean.prepareCreate()}" style="font-size:16px; font-family: Microsoft JhengHei;"/>
                        </p:row>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>