<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>票卷捐贈者清單</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="顯示捐贈者清單，並提供維護功能。" /> 
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:form>
                    <legend>捐贈者</legend>
                    <h:dataTable styleClass="table table-striped table-hover" value="#{donorDataBean.allDonorData}" var="donor" 
                                 style="font-size:16px; font-family: Microsoft JhengHei;">
                        <p:column >
                            <f:facet name="header"> 類別 </f:facet>          
                            <h:outputText value="#{donor.category.name}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header" > 名稱 </f:facet>          
                            <h:outputText value="#{donor.donorName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 聯絡人 </f:facet>          
                            <h:outputText value="#{donor.connectname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 電話 </f:facet>
                            <h:outputText value="#{donor.area_code}"/> -
                            <h:outputText value="#{donor.tel}"/>
                        </p:column>
                        <p:column >
                            <f:facet name="header" > 檢視 </f:facet> 
                            <p:commandButton  action="#{donorDataBean.viewDonorDataAction(donor)}" title="詳細資訊" icon="fa fa-file-text" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 修改 </f:facet> 
                            <p:commandButton  action="#{donorDataBean.prepareEdit(donor)}" title="修改" icon="fa fa-pencil" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 刪除    </f:facet> 
                            <p:commandButton  action="#{donorDataBean.removeDonorDataAction(donor)}" title="刪除" icon="fa fa-trash" />
                        </p:column>
                    </h:dataTable><br/><br/>
                    <div style="float:right;" >
                        <p:row>
                            <h:commandButton styleClass="btn btn-success" value="新增" 
                                             action="#{donorDataBean.prepareCreate()}" 
                                             style="font-size:18px; font-family: Microsoft JhengHei;"/>
                        </p:row>
                    </div>
                    
                    <p:dialog id="deleteDialog" header="刪除捐贈者資料" widgetVar="deleteDialogVar" modal="true" 
                                     dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                                     minHeight="40">
                                <h:form>
                                    <h:outputText value="確認是否刪除 捐贈者 #{donorDataBean.currentDonorData.connectname} 的資料 ? " /><br/><br/>
                                    <h:commandButton styleClass="add-ind-button"  value="取消" onclick="PF('deleteDialogVar').hide();" />
                                    <h:commandButton styleClass="add-ind-button"  value="確定刪除" action="#{donorDataBean.removeDonorData}" />
                                </h:form>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
