<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <!--<ui:debug/>-->
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>票券類別</legend>
                        <h:dataTable styleClass="table table-striped table-hover" value="#{ticketCategoryBean.allCategories}" var="category" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <h:column >
                                <f:facet name="header"> 類別名稱</f:facet>          
                                <h:outputText value="#{category.name}"/>
                            </h:column>
                            <p:column>
                                <f:facet name="header" > 修改 </f:facet>
                                <p:commandButton   action="#{ticketCategoryBean.updateCategoryAction(category)}" title="修改" icon="fa fa-pencil" />
                            </p:column>
                            <p:column>
                                <f:facet name="header" > 刪除 </f:facet>
                                <p:commandButton   action="#{ticketCategoryBean.removeCategoryAction(category)}" title="刪除" icon="fa fa-trash" />
                            </p:column>
                        </h:dataTable><br/><br/>
                        <div style="float:right;" >
                            <p:row>
                                <h:commandButton styleClass="btn btn-success" 
                                                 value="新增票券類別" 
                                                 style="font-size:18px; font-family: Microsoft JhengHei;"
                                                 action="#{ticketCategoryBean.addCategoryAction()}" />
                               <!-- <h:commandButton styleClass="btn btn-primary" 
                                                 style="font-size:18px; font-family: Microsoft JhengHei;"
                                                 value="返回主畫面" action="adminIndex"/> !-->
                            </p:row>
                        </div>
                    </h:form>

                    <div id="category" >
                        <p:dialog id="addDialogID"
                                  header="新增票券類別" 
                                  widgetVar="addDialogVar"
                                  modal="true"
                                  dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                            <h:outputText value="請輸入欲新增之類別名稱：" />
                            <h:form>
                                <h:inputText value="#{ticketCategoryBean.currentCategory.name}" /> <br/>
                                <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('addDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}" />
                                <h:commandButton styleClass="add-ind-button" value="送出" action="#{ticketCategoryBean.addCategoryDB}" />
                            </h:form>
                        </p:dialog>

                        <p:dialog id="editDialogID" header="修改票券類別"
                                  widgetVar="editDialogVar"
                                  modal="true"
                                  dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                            <h:outputText value="請輸入欲修改之類別名稱：" />
                            <h:form>
                                <h:inputText value="#{ticketCategoryBean.currentCategory.name}" /><br/>
                                <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('editDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}" />
                                <h:commandButton styleClass="add-ind-button" value="送出" action="#{ticketCategoryBean.updateCategoryDB}" />
                            </h:form>
                        </p:dialog>

                        <p:dialog id="deleteDialogID" header="刪除票券類別"
                                  widgetVar="deleteDialogVar"
                                  modal="true"
                                  dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                                  minHeight="40">
                            <h:form>
                                <h:outputText value="確認是否刪除 #{ticketCategoryBean.currentCategory.name} 類別? " /> <br/><br/>
                                <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" actionListener="#{ticketCategoryBean.CategoryCancel}" />
                                <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{ticketCategoryBean.removeCategoryDB}" />
                            </h:form>
                        </p:dialog>
                    </div>

                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>