<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>

        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="head">
                <title>Volunteer Management </title>
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                <meta name="description" content="志工管理畫面" />
            </ui:define>
            <ui:define name="content">
                <h:form id="volunteerListForm">
                    <legend>志工管理</legend>
                    <h:dataTable id="listTable" styleClass="table table-striped table-hover" 
                                 value="#{volunteerBean.allVolunteers}" 
                                 var="volunteer"
                                 style="font-size:16px; font-family: Microsoft JhengHei;">

                        <p:column>
                            <f:facet name="header" > 志工姓名 </f:facet>          
                            <h:outputText value="#{volunteer.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 連絡電話 </f:facet>
                            <h:outputText value="#{volunteer.phone}" />
                        </p:column>
                        <!-- <p:column>
                            <f:facet name="header" > 密碼 </f:facet>
                            <h:outputText  value="#{volunteer.password}"  />
                        </p:column> !-->

                        <p:column>
                            <f:facet name="header" > 重設密碼 </f:facet>
                            <p:commandButton  action="#{volunteerBean.resetVolunteerPasswordAction(volunteer)}"  title="重設密碼" icon="fa fa-repeat" />
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 刪除 </f:facet>
                            <p:commandButton  action="#{volunteerBean.removeVolunteerAction(volunteer)}"  title="刪除" icon="fa fa-trash" />
                        </p:column>
                    </h:dataTable>
                </h:form>
                <p:dialog id="deleteDialogID" header="刪除志工"
                          widgetVar="deleteDialogVar"
                          modal="true"
                          dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                    <h:form>
                        <h:outputText value="確認是否刪除 #{volunteerBean.currentVolunteer.name} ? " /> <br/><br/>
                        <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" />
                        <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{volunteerBean.removeVolunteerDB}" />
                    </h:form>
                </p:dialog>

                <p:dialog id="resetVolunteerPasswordID" header="重設密碼"
                          widgetVar="resetVolunteerPasswordDialogVar"
                          modal="true"
                          dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                    <h:form>
                        <h:outputText value="確認是否重設 #{volunteerBean.currentVolunteer.name} 的密碼? " /> <br/><br/>
                        <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" actionListener="#{volunteerBean.VolunteerPasswordCancel}" />
                        <h:commandButton styleClass="add-ind-button" value="確定重設" action="#{volunteerBean.resetVolunteerPasswordDB}" />
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </h:body>
</html>