<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="head">
                <title>建立個案資料</title>
            </ui:define>
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>個案資料</legend>

                        <h:dataTable styleClass="table table-striped table-hover" value="#{receiver.allIndividualData}" var="individual" 
                                     style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:column >
                                <f:facet name="header"> 編號 </f:facet>             
                                <h:outputText value="#{individual.id}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header" > 姓名 </f:facet>          
                                <h:outputText value="#{individual.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header" > 身分證字號 </f:facet>          
                                <h:outputText value="#{individual.idNumber}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header" > 出生年月日 </f:facet>
                                <h:outputText value="#{individual.birth}">
                                    <f:convertDateTime type="date" pattern="yyyy/MM/dd" timeZone="Asia/Taipei" />
                                </h:outputText>
                            </p:column>
                            <p:column >
                                <f:facet name="header" >檢視</f:facet>
                                <p:commandButton  action="#{receiver.viewIndividualAction(individual)}" title="詳細資訊" icon="fa fa-file-text" />
                            </p:column>
                            <p:column >
                                <f:facet name="header" >修改</f:facet>
                                <p:commandButton  action="#{receiver.prepareEdit(individual)}" title="修改" icon="fa fa-pencil" />
                            </p:column>
                            <p:column >
                                <f:facet name="header" >刪除</f:facet>
                                <p:commandButton  action="#{receiver.removeIndividualAction(individual)}" title="刪除" icon="fa fa-trash" />
                            </p:column>
                        </h:dataTable><br/><br/>
                        <div style="float:right;" >
                            <p:row>
                                <h:commandButton styleClass="btn btn-success" value="新增" action="#{receiver.prepareCreate()}" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                            </p:row>
                        </div>
                    </h:form>

                    <p:dialog id="deleteDialog" header="刪除個案資料"  widgetVar="deleteDialogVar" modal="true" 
                             dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false"
                             minHeight="40">
                        <h:form>
                            <h:outputText value="確認是否刪除 #{receiver.currentReceiver.name} 個案資料 ? " /><br/><br/>                            
                            <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('deleteDialogVar').hide();" />
                            <h:commandButton styleClass="add-ind-button" value="確定刪除" action="#{receiver.removeindividualData}" />
                        </h:form>
                    </p:dialog>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>