<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>建立票劵捐贈者</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
        <!--<script src="https://use.fontawesome.com/2a877f719f.js"></script>-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form id="adminSuppliers" class="form-horizontal">
                        <p:focus context="adminSuppliers" />
                        <!--<p:messages  autoUpdate="true"/>-->
                        <fieldset>
                            <legend>捐贈者</legend>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">建檔日期</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:outputLabel id="create_date" value="#{donorDataBean.prepareCreateDate()}" >
                                        <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                                    </p:outputLabel>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者類別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:selectOneMenu class="form-control"
                                                     id="type" 
                                                     value="#{donorDataBean.currentDonorData.category}" 
                                                     converter="DonorCategoryConverter"
                                                     required="true"
                                                     requiredMessage="請選擇捐贈者類別"
                                                     >
                                        <f:selectItem itemLabel="請選擇" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems  
                                            value="#{donorCategoryBean.allCategories}" 
                                            var="donor" itemLabel="#{donor.name}"
                                            itemValue="#{donor}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">
                                    捐贈者名稱
                                </p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText id="donorName"  class="form-control"
                                                 value="#{donorDataBean.currentDonorData.donorName}"
                                                 maxlength="50" 
                                                 ps:placeholder="字數50字以內"
                                                 validatorMessage="捐贈者最少為二字，不可為空值、數字、英文、符號">
                                        <f:validateRegex pattern="^[\u4e00-\u9fa5][^\s]{1,50}+$"/>
                                        <p:ajax event="valueChange" process="@this" update="donorNameError" />
                                    </p:inputText>
                                    <p:message id="donorNameError" for="donorName" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">聯絡人</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText id="connectName" class="form-control"  
                                                 value="#{donorDataBean.currentDonorData.connectname}"
                                                 maxlength="50" 
                                                 ps:placeholder="字數50字以內"
                                                 validatorMessage="聯絡人最少為二字，不可為空值、數字、英文、符號">
                                        <f:validateRegex pattern="^[\u4e00-\u9fa5][^\s]{1,50}+$"/>
                                        <p:ajax event="valueChange" process="@this" update="connectNameError" />
                                    </p:inputText>
                                    <p:message id="connectNameError" for="connectName" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">聯絡電話</p:outputLabel>
                                <div class="col-lg-1">
                                    <p:inputText  id="telArea" class="form-control" maxlength="3"
                                                  value="#{donorDataBean.currentDonorData.area_code}" 
                                                  validatorMessage="區碼範例:02,04,049或09"> 
                                        <f:validateRegex pattern="^0\d{1,2}$"/>
                                        <p:ajax event="valueChange" process="@this" update="telAreaError" />
                                    </p:inputText>
                                    <p:message id="telAreaError" for="telArea" />
                                </div>
                                <div class="col-lg-9">
                                    <p:inputText  id="tel" class="form-control" value="#{donorDataBean.currentDonorData.tel}" 
                                                  maxlength="8" 
                                                  validatorMessage="號碼範例:請依地區區碼不同,輸入6~8位號碼">
                                        <f:validateRegex pattern="^\d{6,8}$"/>
                                        <p:ajax event="valueChange" process="@this" update="telError" />
                                    </p:inputText>
                                    <p:message id="telError" for="tel" /> 例如：04-12345678 or 09-12345678
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText  class="form-control" maxlength="50" ps:placeholder="字數50字以內(可略)" value="#{donorDataBean.currentDonorData.address}"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">簡介</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputTextarea class="form-control" maxlength="200" ps:placeholder="字數200字以內(可略)"  value="#{donorDataBean.currentDonorData.content}"/>
                                </div>
                            </div>
                            <div id="donor_photo_form_group" clas="form-group" 
                                 style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel styleClass="col-lg-2 control-label">捐贈者圖片</p:outputLabel>
                                <div class="col-lg-10" style="padding: 0">
                                <p:fileUpload styleClass="col-lg-6" style="padding:0;"
                                              fileUploadListener="#{donorDataBean.handleFileUpload}"
                                              mode="advanced" auto="true"
                                              update="uploadedImg"/>
                                <p:graphicImage id="uploadedImg" 
                                                styleClass="col-lg-offset-2 col-lg-6 img-responsive img-round"
                                                style="max-width: 200px; margin-left: 0"
                                                value="#{donorDataBean.getDonorPhoto(donorDataBean.currentDonorData)}" />
                                
                            </div>
                            <div  style="float:right; font-size:18px; font-family: Microsoft JhengHei;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="送出" action="donorData-view" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                    <h:commandButton styleClass="btn btn-default" value="取消" immediate="true" action="adminSuppliers" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                </div>
                            </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>