<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form class="form-horizontal">
                        <fieldset>
                            <legend>捐贈者資料確認</legend>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">建檔日期</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <p:outputLabel id="create_date" value="#{donorDataBean.prepareCreateDate()}" >
                                        <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                                    </p:outputLabel>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者類別</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText id="type" value="#{donorDataBean.currentDonorData.category.name}"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者名稱</p:outputLabel>
                                <div  class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText id="donorname" value="#{donorDataBean.currentDonorData.donorName}"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">聯絡人</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText value="#{donorDataBean.currentDonorData.connectname}"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">電話</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText style="width:3% " value="#{donorDataBean.currentDonorData.area_code}" />－<h:outputText value="#{donorDataBean.currentDonorData.tel}" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText value="#{donorDataBean.currentDonorData.address}"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">簡介</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText style="width: 28% " value="#{donorDataBean.currentDonorData.content}"/>
                                </div>
                            </div>
                            <div id="donor_photo_form_group" clas="form-group">
                                <p:outputLabel class="col-lg-2 control-label">捐贈者圖片</p:outputLabel>
                                <p:graphicImage style="max-width: 300px; height: 240px" value="#{donorDataBean.getDonorPhoto(donorDataBean.currentDonorData)}"/>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="確認送出" action="#{donorDataBean.saveDonor()}" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                    <h:commandButton styleClass="btn btn-default" value="返回修改" action="donorData-add" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>