<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form id="addIndividualForm" class="form-horizontal">
                        <fieldset>
                            <legend>個案資料</legend>
                            <!--<div class="form-group">
                                <p:outputLabel class="col-lg-2 control-label">建檔編號</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:outputLabel class="form-control" value="#{receiver.currentReceiver.id}" />
                                </div>
                            </div>-->
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">姓名</p:outputLabel>
                                <div class="col-lg-10" >
                                    <p:inputText id="userName" class="form-control" 
                                                 value="#{receiver.currentReceiver.name}"
                                                 maxlength="5"
                                                 ps:placeholder="中文字數2~5字以內"
                                                 validatorMessage="中文或英文字數2~5字以內">
                                        <f:validateRegex pattern="\W{2,5}+$"/>
                                        <p:ajax event="valueChange" process="@this" update="userNameError" />
                                    </p:inputText>
                                    <p:message id="userNameError" for="userName"  />
                                </div>
                            </div>

                            <!--<p:column rowspan="3">
                                Picture 
                            </p:column> !-->

                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">性別</p:outputLabel>
                                <div class="col-lg-10">
                                    <h:selectOneMenu id="genderSelector" class="form-control" value="#{receiver.currentReceiver.gender}"
                                                     validatorMessage="請選擇性別">  
                                        <f:selectItem itemLabel="請選擇" itemValue="NA" />
                                        <f:selectItem itemLabel="男性" itemValue="男性" />
                                        <f:selectItem itemLabel="女性" itemValue="女性" />
                                        <p:ajax event="valueChange" process="@this" update="genderError" />
                                    </h:selectOneMenu>
                                    <p:message id="genderError" for="genderSelector"/>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">身份證字號</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText id="idNumber" class="form-control"
                                                 value="#{receiver.currentReceiver.idNumber}"
                                                 validatorMessage="#{msg.Personal_ID_Validation}">
                                        <f:validateRegex pattern="^[A-Z]{1}[0-9]{9}$"/>
                                        <p:ajax event="valueChange" process="@this" update="idNumberError" />
                                    </p:inputText>
                                    <p:message id="idNumberError" for="idNumber"/>
                                </div>
                            </div>
                            <div  class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">出生年</p:outputLabel>
                                <div class="col-lg-2">
                                    <p:inputText id="birthYearInput" class="form-control" value="#{receiver.birthYear}"
                                                 validatorMessage="需介於 1900 到 目前時間的年份" maxlength="4">  
                                        <f:validateLongRange minimum="1900" maximum="#{birthDateBean.currentYear}"/>
                                        <p:ajax event="valueChange" process="@this" update="daySelection birthYearError" />
                                    </p:inputText>
                                </div>
                                <p:message id="birthYearError" for="birthYearInput" />

                                <p:outputLabel class="col-lg-1 control-label"/>
                                
                                <div class="col-lg-2">
                                    <h:selectOneMenu value="#{receiver.birthMonth}" class="form-control">
                                        <f:selectItems value="#{birthDateBean.monthItems}" />
                                        <p:ajax event="valueChange" process="@this" update="daySelection" />
                                    </h:selectOneMenu>
                                </div>
                                <p:outputLabel class="col-lg-1 control-label"/>

                                <div class="col-lg-2">
                                    <h:selectOneMenu id="daySelection" value="#{receiver.birthDay}" class="form-control" >
                                        <f:selectItems value="#{birthDateBean.getDayItems(receiver.birthYear, receiver.birthMonth)}" />
                                    </h:selectOneMenu>
                                </div>
                                <p:outputLabel class="col-lg-1 control-label" value="日" style="text-align: left" />
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">聯絡電話</p:outputLabel>
                                <div class="col-lg-1">
                                    <p:inputText class="form-control" maxlength="3" id="telArea"
                                                 value="#{receiver.currentReceiver.area_code}" 
                                                 validatorMessage="區碼範例:02,04,049或09">
                                        <f:validateRegex pattern="^0\d{1,2}$"/>
                                        <p:ajax event="valueChange" process="@this" update="telAreaError" />
                                    </p:inputText>    
                                    <p:message id="telAreaError" for="telArea" />

                                </div>
                                <div class="col-lg-9">
                                    <p:inputText class="form-control" id="telInput" ps:placeholder="例:04-12345678或09-12345678"
                                                 value="#{receiver.currentReceiver.tel}" maxlength="8" 
                                                 validatorMessage="號碼範例:請依地區區碼不同,輸入6~8位號碼">
                                        <f:validateRegex pattern="^\d{6,8}$"/>
                                        <p:ajax event="valueChange" process="@this" update="telInputError" />
                                    </p:inputText>
                                    <p:message id="telInputError" for="telInput" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">興趣類別</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:selectManyCheckbox id="interest" 
                                                          required="true" requiredMessage="#{msg.Interest_select_Validation}"
                                                          value="#{receiver.currentReceiver.interests}"
                                                          converter="ticketCategoryConverter"
                                                          layout="responsive"
                                                          columns ="3"
                                                          >  
                                        <f:selectItems value="#{ticketCategoryBean.allCategories}"
                                                       var="category" itemLabel="#{category.name}" 
                                                       itemValue="#{category}">
                                        </f:selectItems>

                                        <p:ajax event="valueChange" process="@this" update="interestError" />
                                    </p:selectManyCheckbox>
                                    <p:message id="interestError" for="interest" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputText class="form-control" ps:placeholder="字數50字內(可略)" maxlength="50"
                                                 value="#{receiver.currentReceiver.address}" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">備註</p:outputLabel>
                                <div class="col-lg-10">
                                    <p:inputTextarea class="form-control"  ps:placeholder="字數200字內(可略)" maxlength="200"
                                                     value="#{receiver.currentReceiver.note}" />
                                </div>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="送出" action="individualData-view" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                    <h:commandButton styleClass="btn btn-default" value="取消" immediate="true" action="adminIndividual" style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>