<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form class="form-horizontal">
                        <fieldset>
                            <legend>個案資料</legend>
                            <!-- <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">建檔編號</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputLabel  value="#{receiver.currentReceiver.id}"/>
                                </div>
                            </div> !-->
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">姓名</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  ps:placeholder="字數10字以內"
                                                   id="username" value="#{receiver.currentReceiver.name}"/>
                                </div>
                                <!-- <p:column rowspan="3">
                                        Picture 
                                     </p:column> !-->
                            </div>

                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">性別</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  id="gender" value="#{receiver.currentReceiver.gender}" />
                                </div>
                                <!-- p:column colspan="1"><p:commandButton value="選擇檔案"/> </p:column> !-->
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">身份證字號</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  id="idNumber" value="#{receiver.currentReceiver.idNumber}" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">出生年月日</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  value="#{receiver.currentReceiver.birth}" >
                                        <f:convertDateTime type="date" pattern="yyyy 年 MM 月 dd 日" timeZone="Asia/Taipei" />
                                    </h:outputText>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">聯絡電話</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  value="#{receiver.currentReceiver.area_code}" /><span/>－
                                    <h:outputText  value="#{receiver.currentReceiver.tel}" ps:placeholder="例:04-12345678或09-12345678" />
                                </div>
                            </div>

                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">

                                <p:outputLabel class="col-lg-2 control-label">興趣類別</p:outputLabel>
                                <div class="col-lg-8 control-label datalist-noborder" style="text-align:left;">
                                    <p:dataList  type="definition" value="#{receiver.currentReceiver.interests}" 
                                                var="interest">
                                        #{interest.id}.#{interest.name}
                                    </p:dataList>
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">地址</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  id="address" ps:placeholder="字數50字內(可略)"
                                                   value="#{receiver.currentReceiver.address}" />
                                </div>
                            </div>
                            <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                                <p:outputLabel class="col-lg-2 control-label">備註</p:outputLabel>
                                <div class="col-lg-8 control-label" style="text-align:left;">
                                    <h:outputText  id="content" ps:placeholder="字數200字內(可略)"
                                                   value="#{receiver.currentReceiver.note}" />

                                </div>
                            </div>
                            <div  style="float:right;" class="form-group">
                                <div class="col-lg-12 col-lg-offset-2">
                                    <h:commandButton styleClass="btn btn-primary" value="返回" immediate="true" action="adminIndividual"
                                                     style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                </div>
                            </div>
                        </fieldset>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>