<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <h:outputStylesheet library="css" name="Template.css" />
    </h:head>
    <h:body>
        <ui:composition template="/template/Template.xhtml">
            <ui:define name="banner"></ui:define>
            <ui:define name="content">
                <ui:insert name="logo">
                    <h:graphicImage class="img-responsive" style="display: block; margin: auto; width: 50%; height:50%;" library="images" name="logo.png"/> 
                </ui:insert>

                <div style="display: block; margin: auto 35%; width: 60% ;" >
                    <h:form class="form-signin">
                        <div class="form-group">
                            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
                            <label for="account">帳號 ACCOUNT</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <p:inputText type="account" class="form-control" 
                                                 id="account" 
                                                 value="#{adminLogin.account}" placeholder="輸入帳號" />
                                </div>
                            </div>
                        </div>  

                        <div class="form-group">
                            <label for="password">密碼 PASSWORD</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <p:password class="form-control" value="#{adminLogin.password}" placeholder="輸入密碼" />
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <a href="#">忘記密碼?</a>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"/>  記住密碼
                            </label>
                        </div> !-->

                        <p:commandButton styleClass="btn btn-success"
                                         widgetVar="dlg" value="登入" update="growl" actionListener="#{adminLogin.login}"
                                         oncomplete="handleLoginRequest(xhr, status, args)" />
                    </h:form>
                </div>
                <br/>
                <script type="text/javascript">
                    function handleLoginRequest(xhr, status, args) {
                        if (args.validationFailed || !args.loggedIn) {
                            alert('帳號或密碼錯誤！')
                        } else {
                            alert('登入成功！');
                            location.href = 'http://localhost:8080/TicketCare-Production/faces/adminIndex.xhtml';
                            $('#loginLink').fadeOut();
                        }
                    }
                </script> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>