<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:form class="form-horizontal" enctype="multipart/form-data">
                    <fieldset>
                        <legend>票券資料</legend>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">建檔日期</p:outputLabel>
                            <div class="col-lg-10">
                                <p:outputLabel id="create_date" value="#{ticketDataBean.prepareCreateDate()}" >
                                    <f:convertDateTime timeZone="Asia/Taipei" type="both" />
                                </p:outputLabel>
                            </div>
                        </div>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">票券名稱</p:outputLabel>
                            <div class="col-lg-10">
                                <p:inputText 
                                    id="ticketName" 
                                    class="form-control" 
                                    value="#{ticketDataBean.currentTicketData.name}"
                                    maxlength="50"
                                    ps:placeholder="字數50字內"
                                    validatorMessage="不可為空值">
                                    <f:validateRegex pattern="\S{1,50}+$"/>
                                    <p:ajax event="valueChange" process="@this" update="ticketNameError" />
                                </p:inputText>
                                <p:message id="ticketNameError" for="ticketName" />
                            </div>
                        </div>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">票券類別</p:outputLabel>
                            <div class="col-lg-10">
                                <h:selectOneMenu 
                                    class="form-control"
                                    id="type" 
                                    value="#{ticketDataBean.currentTicketData.category}" 
                                    converter="ticketCategoryConverter"
                                    required="true"
                                    requiredMessage="請選擇票券類別">
                                    <f:selectItem itemLabel="請選擇" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems  
                                        value="#{ticketCategoryBean.allCategories}" 
                                        var="category" itemLabel="#{category.name}"
                                        itemValue="#{category}"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label" >使用期限</p:outputLabel>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <p:calendar 
                                        id="startDate"
                                        yearRange="c-100:c+100"   
                                        value="#{ticketDataBean.currentTicketData.startDate}" 
                                        navigator="true" 
                                        pattern="yyyy-MM-dd" > 
                                        <p:ajax event="dateSelect" update="endDate"/>
                                    </p:calendar>
                                    <span class="input-group-addon">起</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <p:calendar
                                        id="endDate"
                                        yearRange="c-100:c+100" 
                                        value="#{ticketDataBean.currentTicketData.endDate}" 
                                        navigator="true" pattern="yyyy-MM-dd">
                                        <p:ajax event="dateSelect" update="startDate"/>
                                    </p:calendar>
                                    <span class="input-group-addon">迄</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">受贈張數</p:outputLabel>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <p:spinner  id="ticketqty"  value="#{ticketDataBean.currentTicketData.qty}" 
                                                min="1" max="1000" />
                                    <span class="input-group-addon"> 張  </span>
                                </div>
                            </div>
                        </div>

                        <div id="donor_form_group" class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">捐贈者</p:outputLabel>
                            <div class="col-lg-10">
                                <h:selectOneMenu 
                                    id="donor" 
                                    value="#{ticketDataBean.currentTicketData.donor}" 
                                    converter="DonorConverter"
                                    class="form-control"
                                    required="true"
                                    requiredMessage="請選擇捐贈者"
                                    >
                                    <f:selectItem itemLabel="請選擇" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems  
                                        value="#{donorDataBean.allDonorData}" 
                                        var="donorInstance" 
                                        itemLabel="#{donorInstance.donorName}"
                                        itemValue="#{donorInstance}"/>
                                </h:selectOneMenu>

                            </div>
                        </div>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel class="col-lg-2 control-label">演出地點</p:outputLabel>
                            <div class="col-lg-10">
                                <p:inputText 
                                    id="place"
                                    class="form-control" 
                                    value="#{ticketDataBean.currentTicketData.address}" 
                                    maxlength="50"
                                    ps:placeholder="字數50字內"
                                    validatorMessage="不可空值">
                                    <f:validateRegex pattern="\S{1,50}+$"/>
                                    <p:ajax event="valueChange" process="@this" update="placeError" />
                                </p:inputText>
                                <p:message id="placeError" for="place" />
                            </div>
                        </div>
                        <div class="form-group" style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel 
                                class="col-lg-2 control-label">
                                簡介
                            </p:outputLabel>
                            <div class="col-lg-10">
                                <p:inputTextarea 
                                    class="form-control" 
                                    value="#{ticketDataBean.currentTicketData.content}" 
                                    maxlength="200" 
                                    ps:placeholder="字數200字內(可略)" />
                            </div>
                        </div>
                        <div id="ticket_photo_form_group" clas="form-group" 
                             style="font-size:16px; font-family: Microsoft JhengHei;">
                            <p:outputLabel styleClass="col-lg-2 control-label">票劵圖片</p:outputLabel>
                            <div class="col-lg-10" style="padding: 0">
                                <p:fileUpload styleClass="col-lg-6" style="padding:0;"
                                              fileUploadListener="#{ticketDataBean.handleFileUpload}"
                                              mode="advanced" auto="true"
                                              update="uploadedImg"/>
                                <p:graphicImage id="uploadedImg" 
                                                styleClass="col-lg-offset-2 col-lg-6 img-responsive img-round"
                                                style="max-width: 200px; margin-left: 0"
                                                value="#{ticketDataBean.getTicketPhoto(ticketDataBean.currentTicketData)}" />
                                <div style="position: absolute; right: 0px">
                                    <p:commandButton styleClass="btn btn-primary" 
                                                     value="送出" 
                                                     ajax="false"
                                                     action="ticketData-view" 
                                                     style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                    <p:commandButton styleClass="btn btn-default" 
                                                     value="取消" immediate="true" 
                                                     action="adminTicketData"
                                                     style="font-size:18px; font-family: Microsoft JhengHei;"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </h:form>
                <script type="text/javascript">
                    $(function () {
                        $('.ui-calendar > input').addClass('form-control');
                        $('.ui-spinner  > input').addClass('form-control');
                    });
                </script>
            </ui:define>
        </ui:composition>
    </h:body>
</html>