<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/Template.xhtml" >
            <ui:define name="banner"></ui:define>
                  <ui:define name="content">
                <div class="text-center" style="font-size:40px; font-family: Microsoft JhengHei;">
                    <h:outputText  value="全部票券" />
                </div>
                <h:form>
                    <p:dataGrid var="post" value="#{postBean.findPostsOrderByDate()}" columns="2" layout="grid"
                                rows="6" paginator="true" id="posts"
                                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                >
                        <p:panel header="#{post.ticket.name}" style="text-align: center;">
                            <h:panelGrid columns="1" style="width:100%;">
                                <div class="pic-frame">
                                    <h:commandLink styleClass="overlay" action="#{postBean.viewTicket(post.ticket.id)}">
                                        <p:graphicImage style="max-width: 300px; height: 240px" styleClass="img-responsive img-rounded center-block"
                                                        value="#{ticketDataBean.getTicketPhoto()}">
                                            <f:param name="ticketID" value="#{post.ticket.id}" />
                                        </p:graphicImage>
                                    </h:commandLink>

                                </div>
                                <div class="text-frame">
                                    <h:outputLabel>
                                        <h:outputFormat value="{0, date, YYYY/MM/dd} 到期">
                                            <f:param value="#{post.ticket.endDate}"/>
                                        </h:outputFormat>
                                    </h:outputLabel>
                                    <h:outputLabel value="剩餘數量: #{post.ticket.qty}" />
                                    <h:commandButton
                                        styleClass="btn btn-warning" 
                                        value="» Read More"
                                        action="#{postBean.viewTicket(post.ticket.id)}" />
                                </div>
                            </h:panelGrid>  
                        </p:panel>
                    </p:dataGrid>
                </h:form>
                <br/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>