<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form id="ticketTarckForm">
                        <legend>票券追蹤</legend>
                        <p:dataTable  class="table table-bordered"
                                      value="#{ticketingBean.findAllTicketingRecords()}"
                                      var="r">
                            <p:column headerText="票券類別">
                                <h:outputText value="#{r.ticket.category.name}" />
                            </p:column>
                            <p:column headerText="票券名稱">
                                <h:outputText value="#{r.ticket.name}" />
                            </p:column>
                            <p:column headerText="票券到期日">
                                <h:outputText value="#{r.ticket.endDate}" >
                                    <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="個案姓名">
                                <h:outputText value="#{r.receiver.name}" />
                            </p:column>
                            <p:column headerText="取票日期">
                                <h:outputText value="#{r.pickupDate}" >
                                    <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:commandButton styleClass="btn btn-success" 
                                                 style="margin: auto;"
                                                 value="填寫問券"
                                                 action="#{questionnaireBean.prepareCreate(r)}" />
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>