<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ticket Care</title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/ticketcareTemplate.xhtml">
            <ui:define name="content">

                <div class="text-center" style="font-size:20px; font-family: Microsoft JhengHei;">
                    <br/>
                    <h1>募票</h1>
                    向廠商及願意提供票券之民眾募集票券。<br/>
                    <h1>媒合</h1>
                    透過TicketCare媒合平台，<br/>
                    將票券媒合給對該票券有興趣的個案。<br/>
                    <h1>派票</h1>
                    經過TicketCare媒合平台媒合完畢，<br/>並確認該個案欲參與此次活動後，<br/>
                    透過自取方式或是志工發放方式將票券送給媒合成功的對向。

                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>