<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form>
                        <legend>問券</legend>
                        
                        個案姓名：<p:inputText  
                            value="#{questionnaireBean.currentQuestionnaire.ticketing.receiver.name}"  disabled="true" />
                        連絡電話：<p:inputText  
                            value="#{questionnaireBean.currentQuestionnaire.ticketing.receiver.area_code}-#{questionnaireBean.currentQuestionnaire.ticketing.receiver.tel}"  disabled="true" /><br/>
                        票券名稱：<p:inputText  value="#{questionnaireBean.currentQuestionnaire.ticketing.ticket.name}"  disabled="true" />
                        索取張數：<p:inputText  value="#{questionnaireBean.currentQuestionnaire.ticketing.qty}"  disabled="true" /><br/>
                        票券到期日：<p:inputText  value="#{questionnaireBean.currentQuestionnaire.ticketing.ticket.endDate}"  disabled="true" >
                            <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                        </p:inputText><br/>
                        
                        
                        
                        <p:outputLabel value="是否如期使用票券（若無使用，請直接於備註寫下未使用原因）：" />
                        <p:selectOneRadio id="ticket_use" value="#{questionnaireBean.currentQuestionnaire.ticket_use}">
                            <f:selectItem itemLabel="是" itemValue="是" />
                            <f:selectItem itemLabel="否" itemValue="否" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="票券使用後調查：" /><br/>
                        <p:outputLabel value="1.以前是否有參加過類似活動經驗？" />
                        <p:selectOneRadio id="activity_experience" value="#{questionnaireBean.currentQuestionnaire.activity_experience}">
                            <f:selectItem itemLabel="是" itemValue="是" />
                            <f:selectItem itemLabel="否" itemValue="否" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="2.票券是與誰一起使用的？" />
                        <p:selectOneRadio id="who_use" value="#{questionnaireBean.currentQuestionnaire.who_use}">
                            <f:selectItem itemLabel="自己" itemValue="自己" />
                            <f:selectItem itemLabel="家人" itemValue="家人" />
                            <f:selectItem itemLabel="朋友" itemValue="朋友" />
                            <f:selectItem itemLabel="志工" itemValue="志工" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="3.票券使用後是否有提高社會參與的感覺？" />
                        <p:selectOneRadio id="participation" value="#{questionnaireBean.currentQuestionnaire.participation}">
                            <f:selectItem itemLabel="是" itemValue="是" />
                            <f:selectItem itemLabel="否" itemValue="否" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="4.對於票券使用後的滿意度？" />
                        <p:selectOneRadio id="satisfaction" value="#{questionnaireBean.currentQuestionnaire.satisfaction}">
                            <f:selectItem itemLabel="很滿意" itemValue="很滿意" />
                            <f:selectItem itemLabel="滿意" itemValue="滿意" />
                            <f:selectItem itemLabel="普通" itemValue="普通" />
                            <f:selectItem itemLabel="不滿意" itemValue="不滿意" />
                            <f:selectItem itemLabel="很不滿意" itemValue="很不滿意" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="5.若下次還有機會是否願意再繼續取票？" />
                        <p:selectOneRadio id="next_chance" value="#{questionnaireBean.currentQuestionnaire.next_chance}">
                            <f:selectItem itemLabel="是" itemValue="是" />
                            <f:selectItem itemLabel="否" itemValue="否" />
                        </p:selectOneRadio><br/>
                        <p:outputLabel value="備註：" /><br/>
                        <p:inputTextarea rows="3" cols="50" value="#{questionnaireBean.currentQuestionnaire.content}" /><br/>
                        <p:commandButton styleClass="btn btn-primary" value="確定" action="#{questionnaireBean.saveQuestionnaire()}"
                                         style="font-size:18px; font-family: Microsoft JhengHei;" />
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>