<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="UTF-8" />
        <title>Ticket Care</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/ticketcareTemplate.xhtml">
            <ui:define name="content">

                <div class="text-center" style="font-size:18px; font-family: Microsoft JhengHei;">
                    <br/><br/><br/><br/>

                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 聯絡電話：04-2330-1009 分機11~15 <br/>
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 聯絡地址：台中市霧峰區吉峰東路168號<br/><br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.9040593362174!2d120.71264031436486!3d24.069682882422384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346924aa5ff8ce27%3A0x7c8496caccaa905!2z5pyd6Zm956eR5oqA5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1509261537184" width="850" height="350" frameborder="0" style="border:0" allowfullscreen="0">
                    </iframe>
                    <br/>

                </div>



            </ui:define>
        </ui:composition>
    </h:body>
</html>