.order-table{
    margin: 0 auto;
    border-collapse:collapse;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 2px       
}
.order-table-title{
    text-align: center;
}
.order-table-header{
    font-size:24px; 
    font-family:Microsoft JhengHei;
    text-align:center;
    border-bottom:1px solid #BBBBBB;
    background:#E0E0E0;
    padding:10px;
}

.order-table-odd-row{
    font-size:18px; 
    height:30px;
    padding:5px;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;

}
.order-table-name-column{
    width:60%;
    text-align:center; 
}
.order-table-icon-column{
    width:50%;
}

.order-table-even-row{
    font-size:18px; 
    height:30px;
    padding:5px;
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}

.order-table-button{
    text-align:center;		
}

.add-ind-button{
    margin: 10px;
    float:right;
}