/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
 @version %I%, %G%
*/
/* 
    Created on : May 12, 2017, 11:17:56 AM
    Author     : hychen39@gmail.com
*/

.carousel-control {
    padding-top:10%;
    width:5%;
}

.carousel-inner {
    /*height: 320px;*/
}