/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2017, 2:17:28 PM
    Author     : user
*/

.info-box {
    /*height: 320px;*/

    position: relative;
    min-height: 250px;
    margin: auto;
    overflow: hidden;
}

.info-box .pic-frame {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
}

.info-box .pic-frame .overlay {
    position: absolute;
    width: 1%;
    height: 1%;
    top: 0;
    left: 0;
    background-color: #ff8000;
    opacity: 0.1;
    transition: .5s ease;
}

.info-box .pic-frame img {
    display: block;
    border-color:#ff8000;
    margin:auto; 
    border-width: 3px;
    border-style: solid;
    transition: .5s ease;
}

.info-box .pic-frame:hover img {
	transform: scale(1.1);
}

.info-box .pic-frame:hover .overlay {
	opacity: 0;
}

.info-box .text-frame {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 1;
}

