/* use @Import to maintain the order the stylesheet */
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
/* 參考: 
1) http://stackoverflow.com/questions/26170583/ordering-houtputstylesheet-and-link-rel-stylesheet-swapped*
2) https://www.mkyong.com/jsf2/primefaces/resource-ordering-in-primefaces */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

/*
  Color tickets, from the lightest to the darkest oragin
  Oragin-1:#ff6f00
  Oragin-2:#db6a00
  Oragin-3:#c45f00
  Oragin-4:#934e00
  Oragin-5:#633a00
  Ref: http://www.color-hex.com/color-palette/34341

*/


/* 設定字形 */
* {font-family: 'cwTexYen', sans-serif;}

nav {background:#c45f00 /*Oragin-3*/;}
.nav > li > a {color: white; font-size: x-large;}
.nav > li > a:hover, .nav > li > a:focus  {background:#db6a00 /*Oragin-2*/;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: #ff6f00 /*Oragin-1 color*/; 
}

/* 下拉式選單內的樣式 */
.dropdown-menu {font-size:x-large; background: #c45f00 /*Oragin-3*/; color:white;}
.dropdown-menu >li > a  {color:white}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: white;
    font-size: x-large;
    background: #db6a00 /*Orange-2 color*/;
}