.table{
    text-align:left;
    font-family:Microsoft JhengHei;
}
.add-ind{
    margin: auto;
    border-collapse:collapse;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 2px
}
.add-ind-header{
    font-size:24px; 
    font-family:Microsoft JhengHei;
    text-align:center;
    border-bottom:1px solid #BBBBBB;
    background:#E0E0E0;
    padding:1px;
}

.add-ind-title{
    text-align:center;
}

.add-ind-odd-row{
    font-size:18px; 
    height:30px;
    padding:5px;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;}

.add-ind-even-row{
    font-size:18px; 
    height:30px;
    padding:5px;
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}

.add-ind-button{
    margin: 10px;
    float:right;
}

.ticket-row{
    text-align: center;
}