<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>View Ticket Details (US_ID:242) </title> 
    </h:head>
    <h:body>
        <ui:composition template="/template/Template.xhtml" >
            <ui:define name="banner"></ui:define>
            <ui:define name="content">
                <h:form>
                <div class="container-fluid">
                    <div class="text-center" style="font-size:18px; font-family: Microsoft JhengHei;">
                        <h1>捐贈者資料</h1>
                        <p:graphicImage style="max-width: 550px; height: 490px" value="#{donorDataBean.getDonorPhoto(donorDataBean.currentDonorData)}" />
                    </div>
                    <br/>
                    <div style="font-size:16px; font-family: Microsoft JhengHei;">
                    <table class="table" >
                        <thead>
                            <tr class="bg-warning">
                                <th class="text-center">捐贈單位</th>
                                <th class="text-center">聯絡資訊</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-6">捐贈者名稱：
                                    <h:outputText value="#{donorDataBean.currentDonorData.donorName}" />
                                </td>
                                <td class="col-md-6">聯絡人： 
                                    <h:outputText value="#{donorDataBean.currentDonorData.connectname}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6">地址：
                                    <h:outputText value="#{donorDataBean.currentDonorData.address}" />
                                </td>
                                <td class="col-md-6">聯絡電話：
                                    <h:outputText value="#{donorDataBean.currentDonorData.area_code}-#{donorDataBean.currentDonorData.tel}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-6" colspan="2">簡介：
                                    <h:outputText value="#{donorDataBean.currentDonorData.content}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div  style="float:right;" class="form-group">
                        <div class="col-lg-12 col-lg-offset-2">
                             <h:commandButton styleClass="btn btn-success" 
                                              value="返回" immediate="true" action="index"
                                              style="font-size:18px; font-family: Microsoft JhengHei;"/>
                        </div>
                    </div>
                </div>
                </h:form>    
            </ui:define>
        </ui:composition>
    </h:body>
</html>