<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>View Ticket Details (US_ID:242) </title>   
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/Template.xhtml" >
            <ui:define name="banner"></ui:define>
            <ui:define name="content">
                <h:form>
                    <div class="container-fluid" style="font-size:16px; font-family: Microsoft JhengHei;">
                        <div class="text-center" style="font-size:18px; font-family: Microsoft JhengHei;">
                            <h1>票券資料</h1>
                            <p:graphicImage styleClass="img-responsive img-rounded" style="margin: auto;"  value="#{ticketDataBean.getTicketPhoto(postBean.selectedTicket)}" />
                        </div>
                        <br/>
                        <table class="table" >
                            <thead>
                                <tr class="bg-warning">
                                    <th class="text-center">票券資訊</th>
                                    <th class="text-center">場地資訊</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-6">使用期限：
                                        <h:outputFormat value="{0, date, YYYY/MM/dd}" >
                                            <f:param value="#{postBean.selectedTicket.endDate}" />
                                        </h:outputFormat>
                                    </td>
                                    <td class="col-md-6">演出地點: 
                                        <h:outputText value="#{postBean.selectedTicket.address}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">剩餘張數：
                                        <h:outputText value="#{postBean.selectedTicket.qty}" />
                                    </td>
                                    <td class="col-md-6">電話：
                                        <h:outputText value="#{postBean.selectedTicket.donor.area_code}-#{postBean.selectedTicket.donor.tel}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">簡介：
                                        <h:outputText value="#{postBean.selectedTicket.content}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div  style="float:right;" class="form-group">
                        <div class="col-lg-12 col-lg-offset-2">
                             <h:commandButton styleClass="btn btn-success" 
                                              value="首頁" action="index"
                                              style="font-size:18px; font-family: Microsoft JhengHei;"/>
                             <span/><span/>
                             <h:commandButton styleClass="btn btn-success" 
                                              value="全部票卷" action="list_all_tickets"
                                              style="font-size:18px; font-family: Microsoft JhengHei;"/>
                        </div>
                    </div>
                    </div> 
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>