<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >

    <h:head>
        <title>媒合清單</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="顯示媒合清單，並提供維護功能。" /> 
        <!--請在 template 中使用 stylesheet. -->
        <!--PrimeFaces 中已有 FontAwesome 了, 無需再額外使用 FontAwesome 的 stylesheet-->
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:form>
                    <legend>媒合</legend>
                    <p:dataTable id="ticket_report"
                                 styleClass="table table-striped table-hover" 
                                 value="#{ticketDataBean.ticketDataFacade.effectiveTicket}" 
                                 var="ticket"
                                 selectionMode="single"
                                 selection="#{ticketDataBean.currentTicketData}"
                                 rowKey="#{ticket.id}">
                        <p:column >
                            <f:facet name="header"> 票券類別 </f:facet>          
                            <h:outputText value="#{ticket.category.name}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header" > 票券名稱 </f:facet>          
                            <h:outputText value="#{ticket.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 票券到期日 </f:facet>          
                            <h:outputText value="#{ticket.endDate}">
                                <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header" > 剩餘張數 </f:facet>
                            <h:outputText value="#{ticket.onHandQty}"/>
                        </p:column>
                    </p:dataTable>
                    <br/><br/>
                    <div style="float:right;" >
                        <p:row>
                            <h:commandButton styleClass="btn btn-success" 
                                             value="媒合" 
                                             action="#{receiverCandidateBean.preparePage(ticketDataBean.currentTicketData)}">
                            </h:commandButton>
                        </p:row>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>