<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>

    </h:head>
    <h:body>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="head">
                <meta name="description" content="列出對某個類別有興趣的個案(Receiver)"/>
                <title>個案列表: 票劵編號: #{receiverCandidateBean.selectedTicket.id} 
                    類別編號:#{receiverCandidateBean.selectedTicket.category.id}</title>
            </ui:define>
            <ui:define name="content">
                <p:growl autoUpdate="true" />
                <h:form id="form">
                    <p:dataTable  id="candidateList"
                                  value="#{receiverCandidateBean.findReceiverByInterest(receiverCandidateBean.selectedTicket.category)}"
                                  var="r">
                        <f:facet name="header">
                            票劵編號: #{receiverCandidateBean.selectedTicket.id}
                            票券名稱:#{receiverCandidateBean.selectedTicket.name}<br/>
                            類別編號:#{receiverCandidateBean.selectedTicket.category.id}
                            類別名稱:#{receiverCandidateBean.selectedTicket.category.name}<br/>
                            票券到期日:<h:outputText value="#{receiverCandidateBean.selectedTicket.endDate}" >
                                <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                            </h:outputText><br/>
                            剩餘數量:#{receiverCandidateBean.selectedTicket.onHandQty}
                        </f:facet>
                        <p:column headerText="ID">
                            <h:outputText value="#{r.id}" />
                        </p:column>
                        <p:column headerText="Name">
                            <h:outputText value="#{r.name}" />
                        </p:column>
                        <p:column headerText="Phone">
                            <h:outputText value="#{r.area_code}" /> -
                            <h:outputText value="#{r.tel}" />
                        </p:column>
                        <p:column headerText="Interests">
                            <p:dataList value="#{r.interests}" var="interest" >
                                <h:outputText value="#{interest.name}" />
                            </p:dataList>
                        </p:column>
                        <p:column headerText="保留數量">
                            <h:outputText value="#{receiverCandidateBean.findReservQty(r.id, receiverCandidateBean.selectedTicket.id)}" />
                        </p:column>
                        <p:column>
                            <p:commandButton value="保留票券" 
                                             process="form"
                                             action="#{receiverCandidateBean.prepareReservTxn(r)}"
                                             update=":dlgForm:Dlg_resvTicket"
                                             oncomplete="PF('dlgResvTicket').show();"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!--Dialog-->
                <h:form id="dlgForm">
                    <!--Dialog -->
                    <p:dialog id="Dlg_resvTicket" header="保留票券" 
                              widgetVar="dlgResvTicket" 
                              modal="true" 
                              focus=":dlgForm:reserv_qty"
                              minHeight="200"
                              closeOnEscape="true">
                        <p:focus context="Dlg_resvTicket" />
                        <h:panelGrid columns="2">
                            <h:outputLabel value="票卷編號"/> 
                            <h:outputLabel 
                                value="#{receiverCandidateBean.ticketTxn.ticket_id}" />
                            <h:outputLabel value="交易時間"/> 
                            <h:outputLabel value="#{receiverCandidateBean.ticketTxn.txn_timestamp}" >
                                <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy/MM/dd" />
                            </h:outputLabel> 
                            <h:outputLabel value="個案編號"/> <h:outputLabel 
                                value="#{receiverCandidateBean.ticketTxn.receiver_id}" />
                            <h:outputLabel value="保留張數" for="reserv_qty"/> 
                            <p:inputText id="reserv_qty" required="true" 
                                         value="#{receiverCandidateBean.ticketTxn.reserv_qty}">
                            </p:inputText>
                            <h:outputLabel value="取票方式"/>
                            <h:selectOneMenu class="form-control"
                                             id="type" 
                                             value="#{receiverCandidateBean.ticketTxn.pickupMethod}" 
                                             converter="ticketPickupMethodConverter"
                                             required="true"
                                             requiredMessage="請選擇取票方式"
                                             >
                                <f:selectItem itemLabel="請選擇" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems  
                                    value="#{volunteerTakeWayBean.allPickupMethod}" 
                                    var="takeway" itemLabel="#{takeway.way}"
                                    itemValue="#{takeway}"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="取票期限"/> 
                            <p:calendar value="#{receiverCandidateBean.ticketTxn.dueDate}" />
                        </h:panelGrid>
                        <p:commandButton value="取消" onclick="PF('dlgResvTicket').hide()" />
                        <p:commandButton id="btnConfirm" 
                                         value="確認" 
                                         action="#{receiverCandidateBean.execReservTxn(receiverCandidateBean.ticketTxn)}" 
                                         update=":form:candidateList"
                                         oncomplete="PF('dlgResvTicket').hide();"/>
                        <p:defaultCommand target="btnConfirm" />
                    </p:dialog>
                </h:form>
                <h:form > <br/>
                    <div style="float:right;" >
                        <p:row> 
                            <h:commandButton styleClass="btn btn-success" value="前往派案區" action="ticketingRecords"/>
                            <h:commandButton styleClass="btn btn-primary" value="繼續媒合" action="effectiveTicketReport"/>
                          <!--  <h:commandButton styleClass="btn btn-success" value="返回主畫面" action="adminIndex"/> !-->
                        </p:row>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>