<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://java.sun.com/jsf/passthrough" >
    <h:head>
        <title>Ticket Care</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </h:head>
    <h:body>
        <ui:debug/>
        <ui:composition template="/template/adminTemplate.xhtml" >
            <ui:define name="content">
                <h:body>
                    <h:form id="ticketRecordsForm">
                        <legend>派票紀錄</legend>
                        <div class="row">
                            <div class="col-lg-2">
                                <h:commandButton value="更新派票記錄"
                                                 styleClass="btn btn-danger"
                                                 style="font-size:16px; font-family: Microsoft JhengHei;"
                                                 action="#{ticketingBean.generateTicketingRecords()}">
                                 <f:ajax execute="@form" render=":ticketRecordsForm"  />
                                </h:commandButton>
                            </div>
                        </div>
                        <br/>
                        <p:dataTable  id="record_list"
                                      class="table table-bordered"
                                      value="#{ticketingBean.findAllTicketingRecords()}"
                                      var="t">
                            <p:column headerText="票券類別">
                                <h:outputText value="#{t.ticket.category.name}" />
                            </p:column>
                            <p:column headerText="票券名稱">
                                <h:outputText value="#{t.ticket.name}" />
                            </p:column>
                            <p:column headerText="個案姓名">
                                <h:outputText value="#{t.receiver.name}" />
                            </p:column>
                            <p:column headerText="聯絡電話">
                                <h:outputText value="#{t.receiver.area_code}-#{t.receiver.tel}" />
                            </p:column>
                            <p:column headerText="索取張數">
                                <h:outputText value="#{t.qty}" />
                            </p:column>
                            <p:column headerText="預計取票日">
                                <h:outputText value="#{t.plannedPickupDate}" >
                                    <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="取票方式">
                                <h:outputText value="#{t.pickupMethod.way}-#{t.volunteerGive.volunteer_id}" />
                            </p:column>
                            <p:column headerText="取票日期">
                                <h:outputText value="#{t.pickupDate}" >
                                    <f:convertDateTime timeZone="Asia/Taipei" type="date" pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <h:commandButton styleClass="btn btn-success" 
                                                 style="margin: auto;"
                                                 value="確認取票" 
                                                 action="#{ticketingBean.setCurrentTicketing(t)}" />
                            </p:column>
                        </p:dataTable>
                        <!--<div style="float:right;" >
                            <p:row>
                                <h:commandButton styleClass="btn btn-primary" value="返回主畫面" action="adminIndex" />
                            </p:row>
                        </div> !-->
                        <p:dialog id="addDialogID" 
                                  header="確認取票" 
                                  widgetVar="checkTicketTake"
                                  modal="true"
                                  dynamic="true" closable="false" draggable="false" closeOnEscape="true" resizable="false">
                            <h:outputText value="確認取票日期：" />
                            <h:form>
                                <p:outputLabel id="create_date" value="#{ticketingBean.prepareCreateDate()}" >
                                    <f:convertDateTime type="date" pattern="yyyy/MM/dd" timeZone="Asia/Taipei" />   
                                </p:outputLabel><br/>
                                <h:commandButton styleClass="add-ind-button" value="取消" onclick="PF('checkTicketTake').hide();" actionListener="#{dispatchBean.DispatchCancel}" />
                                <h:commandButton styleClass="add-ind-button" value="送出" action="#{ticketingBean.updateTicketingDate}" />
                            </h:form>
                        </p:dialog>
                    </h:form>
                </h:body> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>